{% load url from future %}
{% load i18n %}
{% load sentry_helpers %}

<div id="request" class="module">
    <div class="page-header">
        <a href="{% url 'sentry-replay' event.team.slug event.project_id event.id %}" class="btn small pull-right">{% trans "Replay this request" %}</a>
        <h2>{% trans "Request" %}</h2>
    </div>
    <div class="module-content">
        <table class="table table-bordered table-striped">
            <colgroup>
                <col style="width:60px;">
            </colgroup>
            <tbody>
                <tr>
                    <th>{% trans "URL Path:" %}</th>
                    <td><a href="{{ url_path }}{% if query_string %}?{{ query_string }}{% endif %}">{{ url_path }}</a></td>
                </tr>
                {% if method %}
                    <tr>
                        <th>{% trans "Method:" %}</th>
                        <td>{{ method }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{% trans "Query String:" %}</th>
                    <td>
                        <code>{{ query_string|pprint }}</code>
                    </td>
                </tr>
		{% if url %}
                    <tr>
                        <th>{% trans "URL Scope:" %}</th>
                        <td>
                              {% render_values url %}
                        </td>
                    </tr>
                {% endif %}
                {% if form %}
                    <tr>
                        <th>{% trans "Form Scope:" %}</th>
                        <td>
                            {% render_values form %}
                        </td>
                    </tr>
                {% endif %}
                {% if cookies %}
                    <tr>
                        <th>{% trans "Cookie Scope:" %}</th>
                        <td>
                            {% render_values cookies %}
                        </td>
                    </tr>
                {% endif %}
		{% if sessions %}
                    <tr>
                        <th>{% trans "Session Scope:" %}</th>
                        <td>
                            {% render_values sessions %}
                        </td>
                    </tr>
                {% endif %}
		{% if application %}
                    <tr>
                        <th>{% trans "Application Scope:" %}</th>
                        <td>
                            {% render_values application %}
                        </td>
                    </tr>
                {% endif %}
		{% if cgi %}
                    <tr>
                        <th>{% trans "CGI Scope:" %}</th>
                        <td>
                            {% render_values cgi %}
                        </td>
                    </tr>
                {% endif %}
                {% if headers %}
                    <tr>
                        <th>{% trans "Headers:" %}</th>
                        <td>
                            {% render_values headers %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

